@import '../../../../scss/mixins.scss';

.dashboard-users-details {
	@include flex-column(4px);
	background: lighten($border-color, 40%);
	font-family: $font--work-sans-regular;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 20px;

	@media (max-width: 640px) {
		width: 97%;
		padding-left: 5px;
		padding-right: 5px;
	}

	.dashboard-users-details-backlink {
		width: 100%;
		a {
			width: fit-content;
			@include flex-row(6px, flex-start, center);
			font-family: $font--work-sans-regular;
			font-size: 1rem;
			font-weight: 400;
			color: $font-color-main;
			text-decoration: none;
			transition-duration: 500ms;
			transition-property: all;
			transition-timing-function: ease-in-out;
			&:hover {
				transform: scale(1.05);
			}
		}
	}

	.dashboard-users-details-user-section {
		width: 100%;
		@include flex-row(4px, space-between, center);

		h2 {
			color: $font-color-main;
			font-size: 1.5rem;
			font-weight: bold;
			@media (max-width: 640px) {
				padding-left: 4px;
				font-size: 1rem;
			}
		}

		div {
			@include flex-row(20px);

			@media (max-width: 640px) {
				gap: 8px;
			}

			button {
				width: 170px;
				height: 35px;
				border-radius: 8px;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: 1px;
				text-transform: capitalize;
				font-family: $font--work-sans-regular;
				@include flex-row(1px, center, center);
				background: transparent;
				transition-duration: 500ms;
				transition-property: all;
				transition-timing-function: ease-in-out;

				@media (max-width: 640px) {
					width: 115px;
					font-size: 11px;
				}

				&:first-child {
					border: 1px solid #e4033b;
					color: #e4033b;
					&:hover {
						background: #e4033b;
						color: white;
					}
				}

				&:last-child {
					border: 1px solid $font-color2;
					color: $font-color2;
					&:hover {
						background: $font-color2;
						color: white;
					}
				}
			}
		}
	}

	.dashboard-users-details-summary-section {
		width: 97%;
		height: 210px;
		margin: 0px auto;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		background: white;
		border-radius: 10px;
		padding-top: 20px;
		padding-right: 15px;
		padding-left: 15px;
		@media (max-width: 640px) {
			padding-right: 10px;
			padding-left: 10px;
		}

		.dashboard-users-details-summary-details {
			width: 100%;
			height: 100px;
			grid-column: span 12 / span 12;

			display: grid;
			grid-template-columns: repeat(12, 1fr);
			justify-items: center;
			align-content: center;
			color: $font-color;
			font-size: 14px;
			font-family: 500;
			font-family: $font--work-sans-regular;
			@media (max-width: 640px) {
				font-size: 12px;
			}

			.dashboard-users-details-summary-details-image-container {
				width: 100px;
				height: 100px;
				grid-column: span 2 / span 2;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				@media (max-width: 640px) {
					width: 60px;
					height: 60px;
					overflow: hidden;
				}
				img {
					object-fit: cover;
					@media (max-width: 640px) {
						width: 100%;
					}
				}
			}
			.dashboard-users-details-summary-details-username,
			.dashboard-users-details-summary-details-user-tier {
				grid-column: span 2 / span 2;
				width: 100%;
				height: 70px;
				font-size: 14px;
				font-weight: 500;
				font-family: $font--work-sans-regular;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				justify-self: center;
				align-self: center;
				gap: 10px;
				border-right: 0.4px solid lighten($font-color, 40%);
				@media (max-width: 640px) {
					grid-column: span 3 / span 3;
					font-size: 11px;
				}
			}

			.dashboard-users-details-summary-details-username {
				grid-column: span 3 / span 3;
				p {
					width: 100%;
					display: flex;
					justify-content: flex-start;
					@media (max-width: 640px) {
						justify-content: center;
					}
					&:first-child {
						font-size: 22px;
						font-weight: bold;
						@media (max-width: 640px) {
							width: 90%;
							font-size: 13px;
							text-align: center;
						}
					}
				}
			}

			.dashboard-users-details-summary-details-user-tier {
				p {
					width: 81%;
					display: flex;
					justify-content: flex-start;
					padding-left: 24px;
					@media (max-width: 640px) {
						padding-left: 5px;
					}
					&:first-child {
						font-weight: 600;
						@media (max-width: 640px) {
							font-size: 13px;
						}
					}
				}
			}
			.dashboard-users-details-summary-details-user-income {
				grid-column: span 3 / span 3;
				width: 100%;
				font-size: 12px;
				font-weight: 500;
				font-family: $font--work-sans-regular;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 10px;
				@media (max-width: 640px) {
					grid-column: span 4 / span 4;
					font-size: 9px;
				}

				p {
					width: 81%;
					display: flex;
					justify-content: flex-start;
					padding-left: 24px;
					@media (max-width: 640px) {
						padding-left: 8px;
					}
					&:first-child {
						letter-spacing: 1px;
						font-size: 22px;
						font-weight: 600;
						@media (max-width: 640px) {
							font-size: 13px;
						}
					}
				}
			}
		}

		.dashboard-users-details-summary-links {
			width: 100%;
			grid-column: span 12 / span 12;

			display: grid;
			grid-template-columns: repeat(12, 1fr);
			justify-items: center;
			font-size: 14px;
			font-family: 500;
			font-family: $font--work-sans-regular;
			@media (max-width: 640px) {
				font-size: 11px;
				justify-items: center;
			}

			a {
				width: 90%;
				height: 91%;
				grid-column: span 2 / span 2;
				text-decoration: none;
				display: flex;
				align-items: center;
				justify-content: center;
				letter-spacing: 1px;
				font-weight: 600;
				font-size: 1rem;
				color: $font-color-main;
				@media (max-width: 640px) {
					font-size: 9px;
					text-align: center;
				}

				&.active {
					color: $font-color2;
					border-bottom: 2px solid $font-color2;
				}
			}
		}
	}

	.dashboard-users-details-general-details {
		width: 98%;
		margin-top: 20px;
		border-radius: 10px;
		padding: 20px 10px;
		background: white;

		.dashboard-users-details-general-details-personal-info,
		.dashboard-users-details-general-details-education-employment,
		.dashboard-users-details-general-details-guarantor {
			padding: 5px 15px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			color: $font-color-main;
			font-family: $font--work-sans-regular;

			div {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(5, 1fr);
				row-gap: 22px;
				padding-bottom: 25px;
				border-bottom: 0.4px solid lighten($font-color-main, 60%);

				@media (max-width: 640px) {
					grid-template-columns: repeat(2, 1fr);
				}
				&:last-child {
					border-bottom: 0px;
				}
				p {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
					gap: 10px;

					span {
						&:first-child {
							font-size: 12px;
							font-weight: 400;
						}

						&:last-child {
							font-size: 1rem;
							font-weight: 500;
						}
					}
				}
			}
		}
		.dashboard-users-details-general-details-education-employment {
			div {
				grid-template-columns: repeat(4, 1fr);

				@media (max-width: 640px) {
					grid-template-columns: repeat(2, 1fr);
				}
			}
		}

		.dashboard-users-details-general-details-guarantor {
			div {
				grid-template-columns: repeat(4, 1fr);
				padding-top: 20px;
				&:first-child {
					padding-top: 0px;
				}
				@media (max-width: 640px) {
					grid-template-columns: repeat(2, 1fr);
				}
			}
		}

		.dashboard-users-details-general-details-not-found {
			color: $font-color-main;
			text-align: center;
		}
	}
}
