@import '../../scss/mixins.scss';

header {
	width: 97%;
	margin: 0px auto;
	padding: 1rem 1rem;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	justify-content: center;
	@media (max-width: 640px) {
		width: 95%;
		padding: 0.5rem 0.5rem;
	}

	.header-logo {
		width: 100%;
		@include flex-row(1px, center, center);
		img {
			object-fit: cover;
		}
		@media (max-width: 640px) {
			grid-column: span 4 / span 4;
			img {
				width: 100px;
				height: 20px;
			}
		}
	}

	.header-search {
		display: grid;
		grid-template-columns: subgrid;
		grid-column: span 5 / span 5;
		grid-column-start: 4;
		align-content: center;
		justify-content: center;
		div {
			width: fit-content;
			position: relative;
			display: grid;
			align-content: center;
			justify-content: center;
			grid-column: span 4 / span 4;
			overflow: hidden;
			input {
				width: 331px;
				height: 34px;
				outline: 0px;
				padding-left: 15px;
				border-radius: 10px;
				padding-right: 50px;
				transition-property: all;
				transition-duration: 500ms;
				transition-timing-function: ease-in-out;
				color: rgba(84, 95, 125, 1);
				letter-spacing: 1px;

				border: 2px solid $border-color;
				&:focus {
					border-width: 3px;
				}
			}
			input:focus + span {
				width: 40px;
				height: 38px;
				transition-delay: 100ms;
				transition-duration: 500ms;
				transition-property: all;
				transition-timing-function: ease-in-out;
			}
			span {
				width: 40px;
				height: 36px;
				position: absolute;
				top: 0px;
				right: 0px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
				border: 2px solid $font-color2;
				background: $font-color2;
				color: white;
				transition-duration: 500ms;
				transition-property: all;
				transition-timing-function: ease-in-out;
			}
		}
		@media (max-width: 640px) {
			display: none;
		}
	}

	.header-profile {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column: span 3 / span 3;
		grid-column-start: 10;
		align-items: center;
		justify-items: center;

		a {
			font-family: $font-roboto-regular;
			font-weight: 400;
			font-size: 1rem;
			text-decoration: none;
			color: $font-color-main;

			@media (max-width: 640px) {
				font-size: 0.85rem;
			}
		}

		.header-profile-bell {
			width: 26px;
			height: 26px;
			font-size: 1.5rem;
			color: $font-color-main;
			@media (max-width: 640px) {
				font-size: 1rem;
			}
		}

		img {
			border-radius: 50%;
			object-fit: cover;
			@media (max-width: 640px) {
				width: 30px;
				height: 30px;
				grid-column: span 2 / span 2;
			}
		}

		div {
			@include flex-row(1px, center, center);
			font-family: $font--work-sans-regular;
			font-weight: 500;
			font-size: 1rem;
			.header-profile-down-arrow {
				font-size: 1.5rem;
				color: $font-color-main;
			}
			@media (max-width: 640px) {
				display: none;
				font-size: 0.85rem;
				.header-profile-down-arrow {
					font-size: 1rem;
				}
			}
		}
		@media (max-width: 640px) {
			gap: 4px;
			grid-column: span 4 / span 4;
			grid-column-start: 8;
		}
	}
	.nav-trigger-btn {
		display: none;
		width: 100%;
		height: 100%;
		padding: 2px;
		margin: 0px;
		font-size: 1.2rem;
		border-width: 0px;
		outline-width: 0px;
		color: $font-color-main;
		border-radius: 4px;
		background: lighten($font-color-main, 60%);
		transition-duration: 500ms;
		transition-property: all;
		transition-timing-function: ease-in-out;
		@media (max-width: 640px) {
			@include flex-row(1px, center, center);
		}
	}

	nav {
		display: none;
		top: 0px;
		right: 0px;
		z-index: 20;
		width: 100%;
		height: 100dvh;
		position: fixed;
		background-color: rgb(0 0 0 / 0.3);
		transition-duration: 500ms;
		transition-property: all;
		transition-timing-function: ease-in-out;

		.mobile-nav-containers {
			width: 60%;
			height: 100%;
			padding-left: 2px;
			padding-right: 4px;
			overflow-x: hidden;
			overflow-y: scroll;
			scrollbar-width: thin;
			transition-property: all;
			transition-duration: 500ms;
			border-top-right-radius: 12px;
			border-bottom-right-radius: 12px;
			transition-timing-function: ease-in-out;
			background-color: rgb(255 255 255 / 0.95);
			@include flex-column(1px, flex-start, center);

			.mobile-nav {
				width: 92%;
				@include flex-column(20px, flex-start, flex-start);

				.mobile-nav-breifcase {
					width: 100%;
					height: 19px;
					margin-top: 60px;
					color: $font-color-main;
					@include flex-row(8px, flex-start, center);
					p {
						margin: 0px;
						svg {
							fill: $font-color-main, 40%;
							fill-opacity: 0.7;
						}
						padding-top: 5px;
						display: grid;
						place-items: center;
						text-align: center;
						font-size: 0.9rem;
						font-weight: 400;
						font-family: $font--work-sans-regular;
					}
				}

				.mobile-nav-home {
					width: 100%;
					height: 40px;
					color: $font-color-main;
					@include flex-row(8px, flex-start, center);
					font-size: 0.9rem;
					font-weight: 400;
					font-family: $font--work-sans-regular;
					svg {
						font-size: 1rem;
					}
					p {
						padding-top: 3px;
					}
				}
			}

			.mobile-nav-customers,
			.mobile-nav-businesses,
			.mobile-nav-settings {
				width: 92%;
				@include flex-column(2px, center, center);
				color: $font-color-main;
				font-size: 0.9rem;
				font-weight: 400;
				font-family: $font--work-sans-regular;

				.mobile-nav-text {
					width: 100%;
					margin-top: 15px;
					height: 40px;
					padding-left: 4px;
					@include flex-row(8px, flex-start, center);
					font-size: 0.76rem;
					font-weight: 500;
					font-family: $font--work-sans-regular;
				}

				a {
					width: 100%;
					padding-left: 4px;
					@include flex-row(8px, flex-start, center);
					height: 40px;
					color: $font-color-main;
					text-decoration: none;
					transition-duration: 500ms;
					transition-property: all;
					transition-timing-function: ease-in-out;
					svg {
						fill: $font-color-main;
						fill-opacity: 0.7;
					}
					&.active {
						background: lighten($font-color2, 45%);
						border-left: 4px solid $font-color2;
					}
				}
			}
		}

		@media (max-width: 640px) {
			@include flex-row(1px, flex-start, center);
		}
	}
}

.dashboard {
	width: 100%;
	min-height: 86.5dvh;
	display: grid;
	grid-template-columns: 283px auto;
	@media (max-width: 640px) {
		grid-template-columns: auto;
		min-height: 92dvh;
	}

	nav {
		width: 92%;
		height: 100%;
		@include flex-column(8px, flex-start, flex-start);
		@media (max-width: 640px) {
			display: none;
		}

		.nav-content-1 {
			width: 80%;
			padding-left: 20.25px;
			@include flex-column(45px, flex-start, center);

			.nav-breifcase1 {
				width: 100%;
				height: 19px;
				margin-top: 35px;
				color: $font-color-main;
				@include flex-row(8px, flex-start, center);
				p {
					margin: 0px;
					svg {
						fill: $font-color-main, 40%;
						fill-opacity: 0.7;
					}
					padding-top: 5px;
					display: grid;
					place-items: center;
					text-align: center;
					font-size: 1rem;
					font-weight: 400;
					font-family: $font--work-sans-regular;
				}
			}

			.nav-home {
				width: 100%;
				height: 40px;
				color: $font-color-main;
				@include flex-row(8px, flex-start, center);
				font-size: 1rem;
				font-weight: 400;
				font-family: $font--work-sans-regular;

				p {
					padding-top: 3px;
				}
			}
		}
		.nav-customers,
		.nav-businesses,
		.nav-settings {
			width: 100%;
			@include flex-column(2px, center, flex-start);
			color: $font-color-main;
			font-size: 1rem;
			font-weight: 400;
			font-family: $font--work-sans-regular;
			.text {
				padding-left: 20.25px;
				margin-top: 15px;
				height: 40px;
				@include flex-row(8px, flex-start, center);
				font-size: 0.76rem;
				font-weight: 500;
				font-family: $font--work-sans-regular;
			}

			a {
				width: 100%;
				padding-left: 20.25px;
				@include flex-row(8px, flex-start, center);
				height: 40px;
				color: $font-color-main;
				text-decoration: none;
				transition-duration: 500ms;
				transition-property: all;
				transition-timing-function: ease-in-out;
				svg {
					fill: $font-color-main;
					fill-opacity: 0.7;
				}
				&.active {
					background: lighten($font-color2, 45%);
					border-left: 4px solid $font-color2;
				}
			}
		}
	}
}
