@import './variables.scss';

@mixin flex-column($gap: 2px, $justify: flex-start, $align: flex-start) {
	display: flex;
	flex-direction: column;
	gap: $gap;
	align-items: $align;
	justify-content: $justify;
}
@mixin flex-row($gap: 2px, $justify: flex-start, $align: flex-start) {
	display: flex;
	gap: $gap;
	align-items: $align;
	justify-content: $justify;
}

@mixin animateSpin() {
	@keyframes spin {
		to {
			transform: rotate(360deg);
		}
	}

	animation: spin 1s linear infinite;
}
