$font-color-main: #213f7d;
$font-color: #545f7d;
$font-color2: #39cdcc;
$font-color3: rgb(84, 95, 125);
$font-color4: #e9b200;
$font-color5: #e4033b;
$font-color6: #39cd62;
$margin: 2px;
$padding: 2px;
$font-size: 16px;
$font--work-sans-regular: var(--font-work-sans-regular);
$font-roboto-medium: var(--font-roboto-medium);
$font-roboto-regular: var(--font-roboto-regular);
$font-avenir-regular: var(--font-avenir-regular);
$font-bold: var(--font-avenir-bold);
$border-color: #545f7d26;
$border-color2: #213f7d1a;
